#!/bin/bash

# Modified version of Latitude.sh script for hot swap.
# This version accept alias (nickname) for the server, previously set with the ssh script.
# If problems on primary validator are presents, you can choose to shutdown directly,
# by inserting the string "stop" as second parameter.
# eg. prolonged state of delinquency or any other problem that is impeding voting operations

# example of use: ./node-transitionTo.sh dallas stop

# Note: Primary validator is always the voting node

if test -z "$1"
then
      HOSTNAME=$(hostname)
      if [ "$HOSTNAME" = "24AS610037" ]; then
         TARGET="chicagoMain"
         echo "moveto $TARGET"
      elif [ "$HOSTNAME" = "231S600242" ]; then
         TARGET="chicagoBig"
         echo "moveto $TARGET"
      else
         echo "Error: Missing target alias ( eg. chicagoBig or chicagoMain )"
         exit 1
      fi
else
     if [ "$1" == "stop" ]; then
	    echo "Error: Missing target alias ( eg. chicagoBig or chicagoMain )"
        exit 1
     fi
     TARGET=$1
     echo "moveto $TARGET"
fi

# Define here the IP of the node to transition voting operation
ALIAS_NODE=$TARGET
TRANSITIONAL_NODE_IP=$TARGET
TRANSITIONAL_NODE_LEDGER_DIR=/mnt/solana_ledger/ledger
TRANSITIONAL_NODE_SOLANA_USER=solana
TRANSITIONAL_NODE_SOLANA_USER_HOME_DIR=/home/solana
TRANSITIONAL_NODE_SECRET_DIR=/home/solana/.secrets
TRANSITIONAL_NODE_TSH_DIR=/home/solana/tsh
TRANSITIONAL_NODE_FUNDED_VALIDATOR_KEYPAIR_FILE=$TRANSITIONAL_NODE_SECRET_DIR/funded-validator-keypair.json
TRANSITIONAL_NODE_UNFUNDED_VALIDATOR_KEYPAIR_FILE=$TRANSITIONAL_NODE_SECRET_DIR/unfunded-validator-keypair.json
TRANSITIONAL_NODE_SOLANA_PATH=/home/solana/.local/share/solana/install/active_release/bin

main_function()
{

# Validate that TRANSITIONAL_NODE_IP is defined
#[[ -z "$TRANSITIONAL_NODE_IP" ]] && { echo "TRANSITIONAL_NODE_IP undefined. please edit the script before using it"; exit 1; }

# Validate that ssh connectivity is correctly setup before running transition operation
#ssh -q -o BatchMode=yes  -o StrictHostKeyChecking=no -o ConnectTimeout=5 #$TRANSITIONAL_NODE_SOLANA_USER@$TRANSITIONAL_NODE_IP 'exit 0'
#[ $? != 0 ] && { echo "SSH connection to $server over port 22 is not possible"; exit 1; }

# Validate that ssh connectivity is correctly setup before running transition operation
ssh -o ConnectTimeout=5 $ALIAS_NODE 'exit 0'
[ $? != 0 ] && { echo "SSH connection to $ALIAS_NODE over port 7979 is not possible"; exit 1; }

# Check if TRANSITIONAL_NODE_LEDGER_DIR exists
ssh $ALIAS_NODE "ls $TRANSITIONAL_NODE_LEDGER_DIR" > /dev/null 2>&1
[ $? != 0 ] && { echo "$TRANSITIONAL_NODE_LEDGER_DIR doesn't exists in TRANSITIONAL_NODE"; exit 1; }

# Check if TRANSITIONAL_NODE_FUNDED_VALIDATOR_KEYPAIR_FILE exists
ssh $ALIAS_NODE "ls $TRANSITIONAL_NODE_FUNDED_VALIDATOR_KEYPAIR_FILE" > /dev/null 2>&1
[ $? != 0 ] && { echo "$TRANSITIONAL_NODE_FUNDED_VALIDATOR_KEYPAIR_FILE doesn't exists in TRANSITIONAL_NODE"; exit 1; }

# Check if SOLANA CLI is installed exists
ssh $ALIAS_NODE "$TRANSITIONAL_NODE_SOLANA_PATH/solana --version" > /dev/null 2>&1
[ $? != 0 ] && { echo "SOLANA CLI not found in TRANSITIONAL_NODE check the TRANSITIONAL_NODE_SOLANA_PATH VAR"; exit 1; }

# Check if unfunded validator keypair exists in this machine
[ ! -f /home/solana/.secrets/unfunded-validator-keypair.json ] && { echo "Unfunded validator keypair doesn't exists on this machine"; exit 1; }

# Check if tower file exists
[ ! -f /mnt/solana_ledger/ledger/tower-1_9-"$($TRANSITIONAL_NODE_SOLANA_PATH/solana-keygen pubkey /home/solana/.secrets/validator-keypair.json)".bin ] && { echo "There is no tower file /mnt/solana/ledger/tower-1_9-$($TRANSITIONAL_NODE_SOLANA_PATH/solana-keygen pubkey /home/solana/.secrets/validator-keypair.json).bin either the machine is running with the unfunded-validator-keypair in non voting mode or your ledger dir is wrong!!!"; exit 1; }

# Check unfunded-validator-keypair should be different on each nodes
TRANSITIONAL_NODE_UNFUNDED_VALIDATOR_KEYPAIR_FILE_SHA1SUM=$(ssh $ALIAS_NODE "cat $TRANSITIONAL_NODE_UNFUNDED_VALIDATOR_KEYPAIR_FILE | sha1sum")
[ "$TRANSITIONAL_NODE_UNFUNDED_VALIDATOR_KEYPAIR_FILE_SHA1SUM" == "$(cat /home/solana/.secrets/unfunded-validator-keypair.json | sha1sum)"  ] && { echo "Unfunded validator keypair must be different on each nodes"; exit 1; }

# Check funded-validator-keypair should be the same on each nodes
TRANSITIONAL_NODE_FUNDED_VALIDATOR_KEYPAIR_FILE_SHA1SUM=$(ssh $ALIAS_NODE "cat $TRANSITIONAL_NODE_FUNDED_VALIDATOR_KEYPAIR_FILE | sha1sum")
[ "$TRANSITIONAL_NODE_FUNDED_VALIDATOR_KEYPAIR_FILE_SHA1SUM" != "$(cat /home/solana/.secrets/funded-validator-keypair.json | sha1sum)"  ] && { echo "Funded validator keypair must be the same on each nodes"; exit 1; }

# Check if the target node is in delinquency state
NODE_STATUS=$(ssh $ALIAS_NODE "curl -s http://localhost:8899 -X POST -H 'Content-Type: application/json' -d '{\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"getHealth\"}' | jq -r '.result'")

echo -e

if [ "$NODE_STATUS" != "ok" ]; then
  echo "!! WARNING !! Destination node: $ALIAS_NODE is currently DELINQUENT. Aborted! -- Please try again shortly! --"
  exit 1
fi

if [ "$2" == "stop" ]; then
  echo "Hard stop of the primary validator due to some problems"

  # Move symlink to unfunded validator keypair to prevent this node to vote concurrently in case of service restart
  ln -sf /home/solana/.secrets/unfunded-validator-keypair.json /home/solana/.secrets/validator-keypair.json

  # finding main PID of agave-validator
  agave_pid=$(pgrep -f "agave-validator --identity")
  if [ -z "$agave_pid" ]; then
    echo "agave-validator client not found (nothing to kill)"
  else
    echo "agave-validator PID: $agave_pid"
    echo "killing agave-validator client..."
    kill $agave_pid
  fi

  echo "Waiting 15 seconds to avoid slashing votes..."
  sleep 15s
else
  # Wait for a restart window
  agave-validator -l /mnt/solana_ledger/ledger wait-for-restart-window --min-idle-time 2 --skip-new-snapshot-check

  # Stop voting operation on the currently voting node
  echo "Stop voting operation on the currently voting node"
  agave-validator -l /mnt/solana_ledger/ledger set-identity /home/solana/.secrets/unfunded-validator-keypair.json
  sleep 1s

  # Move symlink to unfunded validator keypair to prevent this node to vote concurrently in case of service restart
  ln -sf /home/solana/.secrets/unfunded-validator-keypair.json /home/solana/.secrets/validator-keypair.json
fi

echo "Primary Validator stopped. Migrating..."

# Copy the tower file to the node take over voting operation
scp /mnt/solana_ledger/ledger/tower-1_9-"$($TRANSITIONAL_NODE_SOLANA_PATH/solana-keygen pubkey /home/solana/.secrets/funded-validator-keypair.json)".bin $ALIAS_NODE:$TRANSITIONAL_NODE_LEDGER_DIR

# Start voting operation in the transitioned node
ssh $ALIAS_NODE "$TRANSITIONAL_NODE_SOLANA_PATH/agave-validator -l $TRANSITIONAL_NODE_LEDGER_DIR set-identity --require-tower $TRANSITIONAL_NODE_FUNDED_VALIDATOR_KEYPAIR_FILE"

# Move symlink to funded validator keypair to permit vote operation in case of service restart
ssh $ALIAS_NODE "ln -sf $TRANSITIONAL_NODE_FUNDED_VALIDATOR_KEYPAIR_FILE $TRANSITIONAL_NODE_SECRET_DIR/validator-keypair.json"

# --- End of transition core commands

# Stop of TSH (Telegram Shell) service on the currently voting node
echo "Stop of TSH (Telegram Shell) service on the currently voting node"
sudo systemctl stop tsh.service
sleep 1s

# Copy the TSH (Telegram Shell) files to the node take over voting operation
scp /home/solana/tsh/config.db $ALIAS_NODE:$TRANSITIONAL_NODE_TSH_DIR
scp /home/solana/tsh/service.log $ALIAS_NODE:$TRANSITIONAL_NODE_TSH_DIR

# Stop of Telegram Shell Spare service in the transitioned node
echo "Stop of Telegram Shell Spare service in the transitioned node"
ssh -t $ALIAS_NODE "sudo systemctl stop tshSpare.service"
sleep 1s

}

#----------

echo "Hot Swap Transition to $ALIAS_NODE" > /home/solana/tsh/transition.log
date >> /home/solana/tsh/transition.log

if [ -z $TERM ]; then
  # if not run via terminal, redirecting
  main_function 2>&1 >> /home/solana/tsh/transition.log
else
  # run via terminal, only output to screen
  main_function 2>&1 >> /home/solana/tsh/transition.log
fi

# Copy the transition.log file of this session to the node take over voting operation
scp /home/solana/tsh/transition.log $ALIAS_NODE:$TRANSITIONAL_NODE_TSH_DIR

# Start TSH (Telegram Shell) service in the transitioned node
#echo "Start TSH (Telegram Shell) service in the transitioned node"
ssh -t $ALIAS_NODE "sudo systemctl restart tsh.service"
sleep 1s

# Start of Telegram Shell Spare service on the currently voting node
#echo "Stop of TSH (Telegram Shell) service on the currently voting node"
sudo systemctl restart tshSpare.service
